{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}

    <head>

    <title>Products</title>
    </head>

    <!-- Search for products based on whether they contain the user input><-->
    <form method="POST">
        <input name="search_input" placeholder="Search for products...">
        <input type="submit">
    </form>

<hr>
    <button type="button" value="Sort by Price (Descending)" onclick="sort_by_price_descending()">Sort by Price (Descending)</button>
    <button type="button" value="Sort by Price (Ascending)" onclick="sort_by_price_ascending()">Sort by Price (Ascending)</button>
    <button type="button" value="Sort by Title (A to Z)" onclick="sort_by_title_ascending()">Sort by Title (A to Z)</button>
    <button type="button" value="Sort by TItle (Z to A)" onclick="sort_by_title_descending()">Sort by Title (Z to A)</button>
    {# Display each product information in a table #}
    <div id = "table">
    <table class = "table table-hover">
        <tbody>
        <tr id = "tableOfProducts">
    {% for list in list_of_product %}
    <tr>
        <th>TITLE:</th>
        <td>
           {{ list["title"] }}
        </td>
    </tr>
        <tr>
        <th>DESCRIPTION:</th>
        <td>

            {{ list["description"] }}

        </td>
        </tr>
        <tr>
         <th>PRICE:</th>
        <td>
            {{ list["price"] }}
            </td>
        </tr>

        <tr>
        <th>

        </th>
        <td>
            <!-- Here goes button to change bought -->
            <!--  -->
            {% if list["bought"] == 0 %}
                <button type="button" value="Purchase" onclick="buyItem({{ list }})">Buy Item</button>
            {% else %}
                <p> This item has been bought </p>
            {% endif %}
        </td>
        </tr>

    {% endfor %}
    </tr>
    </tbody>
    </table>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
        //productListJs
        var list_of_product = {{ list_of_product|tojson }}

        function sort_by_price_descending() {
            //this will send a request to the function associated with the url
            let myRequest = new Request('/sort_price_descending')
            requestTableRefresh(myRequest)
        }

        function sort_by_price_ascending() {
            //this will send a request to the function associated with the url
            let myRequest = new Request('/sort_price_ascending')
            requestTableRefresh(myRequest)
        }

        function sort_by_title_ascending() {
            //this will send a request to the function associated with the url
            let myRequest = new Request('/sort_title_asc')
            requestTableRefresh(myRequest)
        }

        function sort_by_title_descending() {
            //this will send a request to the function associated with the url
            let myRequest = new Request('/sort_title_desc')
            requestTableRefresh(myRequest)
        }

        //function that sets the clicked item as bought
        function buyItem(product)
        {
            //POST request to set the product clicked as bought
            $.ajax({
                url:"/buy_button_input",
                type:"POST",
                contentType: "application/json",
                data: JSON.stringify(product)});

            //create a GET request to update the table
            let myRequest = new Request('/buy_button_output')
            requestTableRefresh(myRequest)
        }

        //creates a fetch request that updates table
        function requestTableRefresh(myRequest)
        {
            //this sends the request and gets a response (data)
            fetch(myRequest).then(response => response.json()).then(function (data) {
                //current product list with the sorted one
                list_of_product = data['output'];
                //refresh the table
                $('#table').load(location.href + " #table");
            });
        }
    </script>

{% endblock %}