{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}

    <head>

    <title>Products</title>
    </head>

    <!-- Search for products based on whether they contain the user input><-->
    <form method="POST">
        <input name="search_input" placeholder="Search for products...">
        <input type="submit">
    </form>

<hr>
    <button type="button" value="Sort by Price (Descending)" onclick="sort_by_price_descending()">Sort by Price (Descending)</button>
    <button type="button" value="Sort by Price (Ascending)" onclick="sort_by_price_ascending()">Sort by Price (Ascending)</button>
    <button type="button" value="Sort by Title (A to Z)" onclick="sort_by_title_ascending()">Sort by Title (A to Z)</button>
    <button type="button" value="Sort by TItle (Z to A)" onclick="sort_by_title_descending()">Sort by Title (Z to A)</button>

    <table class = "table table-hover">
        <tbody id = "table">
    <tr id = "tableOfProducts">
    {% for list in list_of_product %}
    <tr>
        <th>TITLE:</th>
        <td>
           {{ list["title"] }}
        </td>
    </tr>
        <tr>
        <th>DESCRIPTION:</th>
        <td>

            {{ list["description"] }}

        </td>
        </tr>
        <tr>
         <th>PRICE:</th>
        <td>
            {{ list["price"] }}
            </td>
        </tr>

        <tr>
        <th>

        </th>
        <td>
            <!-- Here goes button to change bought -->
            <!--  -->
            {% if list["bought"] == 0 %}
                <button type="button" value="Purchase" onclick="buyItem(list)">Buy Item</button>
            {% else %}
                <p> This item has been bought </p>
            {% endif %}
        </td>
        </tr>

    {% endfor %}
    </tr>
    </tbody>
    </table>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
        function sort_by_price_descending() {
            let myRequest = new Request('/sort_price_descending')
            fetch(myRequest).then(response => response.json()).then(function (data) {
                let tableP = document.getElementById("table");
                tableP.innerHTML = "";
                for (let x in data['output'])
                {
                    tableP.innerHTML += makeTableEntry(data['output'][x]["title"], data['output'][x]["description"], data['output'][x]["price"], data['output'][x]["bought"])
                }
            });
        }

        function sort_by_price_ascending() {
            //this will send a request to the function associated with the url
            let myRequest = new Request('/sort_price_ascending')
            //this sends the request and gets a response (data)
            fetch(myRequest).then(response => response.json()).then(function (data) {
                //we'll define tableP as the section called "table" above
                let tableP = document.getElementById("table");
                //we'll erase it...
                tableP.innerHTML = "";
                //...and fill it with the elements contained in the array we got back (data)
                for (let x in data['output'])
                {
                    tableP.innerHTML += makeTableEntry(data['output'][x]["title"], data['output'][x]["description"], data['output'][x]["price"], data['output'][x]["bought"])
                }
            });
        }

        function sort_by_title_ascending() {
            //this will send a request to the function associated with the url
            let myRequest = new Request('/sort_title_asc')
            //this sends the request and gets a response (data)
            fetch(myRequest).then(response => response.json()).then(function (data) {
                //we'll define tableP as the section called "table" above
                let tableP = document.getElementById("table");
                //we'll erase it...
                tableP.innerHTML = "";
                //...and fill it with the elements contained in the array we got back (data)
                for (let x in data['output'])
                {
                    tableP.innerHTML += makeTableEntry(data['output'][x]["title"], data['output'][x]["description"], data['output'][x]["price"], data['output'][x]["bought"])
                }
            });
        }

        function sort_by_title_descending() {
            let myRequest = new Request('/sort_title_desc')
            fetch(myRequest).then(response => response.json()).then(function (data) {
                let tableP = document.getElementById("table");
                tableP.innerHTML = "";
                for (let x in data['output'])
                {
                    tableP.innerHTML += makeTableEntry(data['output'][x]["title"], data['output'][x]["description"], data['output'][x]["price"], data['output'][x]["bought"])
                }
            });
        }

        function buyItem(item)
        {
            //buy item
        }

        function makeTableEntry(title, description, price, bought)
        {
            let tableProduct = `<tr id = "tableOfProducts">
                    <tr>
                        <th>TITLE:</th>
                        <td>
                           ${title}
                        </td>
                    </tr>
                        <tr>
                        <th>DESCRIPTION:</th>
                        <td>
                            ${description}

                        </td>
                        </tr>
                        <tr>
                         <th>PRICE:</th>
                        <td>
                            ${price}
                            </td>
                        </tr>
                    <tr>
                    <th>

                    </th>`

            if (bought === 0)
            {
                tableProduct += `<td>
                     <button type="button" value="Purchase" onclick="buyItem(list)">Buy Item</button>
                    </td>
                    </tr>

                    </tr>`;
            }
            else
            {
                tableProduct += `<td>
                    <p> This item has been bought </p>
                    </td>
                    </tr>

                    </tr>`;
            }

            return tableProduct
        }
    </script>

{% endblock %}